/* Start of Style Reset */

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* End of Style Reset  */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  display: flex;
  padding: 0px 15px;
}
.navigation {
  display: flex;
  align-items: center;
}

.studio-nav {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.navigation .first-nav-links,
.navigation .first-nav-links + li {
  margin-right: 40px;
}

.navigation ul {
  margin-right: 332px;
}

.first-contact-from-list {
  margin-right: 40px;
}

.header-background {
  border-bottom: 1px solid #e7e9fc;
}

.header-background .navigation > ul .first-nav-links > a {
  color: #2e2f42;
}

.navigation .nav-links {
  display: flex;

  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 24px 0;
}

.header-background .navigation .nav-links:hover,
.header-background .navigation .nav-links:focus {
  color: #404bbf;
}

.navigation .nav-links:active {
  color: #404bbf;
}

.navigation .nav-links.studio:active {
  text-decoration: underline;
}

.header-background .contact {
  display: flex;
  font-style: normal;
  gap: 40px;
}

.header-background .contact .first-contact-from-list .contact-adress {
  color: #434455;
}

.contact .contact-adress {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-background .contact .contact-adress:hover,
.header-background .contact .contact-adress:focus {
  color: #404bbf;
}

.header-background {
  background-color: #e7e9fc;
}

.effective-background {
  background-color: #2e2f42;
  /* opacity: 0; */
  width: 1440px;
  height: 600px;
  top: 72px;
  gap: 0px;
  padding: 188px 0;
}

.effective-hunu {
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffff;
  max-width: 496px;

  /* height: 120px;
  top: 260px;
  left: 472px;
  gap: 0px;
  opacity: 0; */
}

.service-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;

  margin-top: 48px;

  padding: 16px 32px 16px 32px;
  /* gap: 10px; */
  border-radius: 4px;
}

.service-button:hover,
.service-button:focus,
.service-button:active {
  background-color: #404bbf;
}

.qualities {
  padding: 120px 0;
}

/* .qualities-hdoi {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
} */

.visually-hidden {
  visibility: hidden;
}

.qualities-list {
  display: flex;
  gap: 24px;
}

.qualities-list-li:first-child,
.qualities-list-li:first-child + li,
.qualities-list-li:first-child + li + li {
  margin-right: 24px;
  width: calc((100%-72px) / 4);
}

.qualities-list-li:last-child {
  margin-right: 0;
  width: calc((100% - 72px) / 4);
}

.qualities-htrei {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.qualities-p {
  font-family: "Roboto";
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.ourteam-hdoi {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.team-section > ul .list-item-ourteam.unu {
  background-color: #ffffff;
}

.team-section > ul > li > h3 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section > ul > li > p {
  font-family: "Roboto";
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
}

.portfolio-section-hdoi {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-section-ul h3 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section-ul p {
  font-family: "Roboto";
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-background {
  background-color: #2e2f42;
}

.studio-nav-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  font-family: "Roboto";
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
